@import "./variabels";
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  background: #E5E5E5;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track { 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: grey
}

::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

a {
  text-decoration: none !important;
}

.btn-primary {
  background-color: $primary !important;
  border-color: $primary !important;
}